[submodule "External/flann"]
	path = External/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "External/librply"]
	path = External/librply
	url = https://github.com/lkiesow/librply.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glad"]
	path = External/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "External/kdtree"]
	path = External/kdtree
	url = https://github.com/jtsiomb/kdtree.git
[submodule "External/jsoncpp"]
	path = External/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "External/gptoolbox"]
	path = External/gptoolbox
	url = https://github.com/alecjacobson/gptoolbox.git
